@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 500px;
  margin: 0 auto;
  /* border: 1px solid yellow; */
  /* height: 100%; */
  background-color: rgb(255, 255, 255);
  font-family: "Noto Sans KR", sans-serif;
  /* height: 1vh;/ */
  /* min-height: calc(80vh - 500px); */
}
ul,
li,
ol {
  list-style: none;
}
a {
  color: #222;
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
